.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 51, 45);
  padding: 10px;
  border-bottom: 2px solid #222;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white !important;
}

.imglogo {
  width: 40px;
  margin-right: 10px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  color: white !important;
  font-size: 18px;
  margin: 0 10px;
}
