html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.banner-container {
  width: 120vw;          
  height: 150px;         
  overflow: hidden;     
  margin: 0;            
  padding: 0;           
}

.banner-img {
  width: 100vw;         
  height: 150px;         
  object-fit: cover;    
  display: block;      
}